{{!--
Це код container файлу для background сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/background"
--}}

<div class="p-5">

	<hr />
	<hr />

	<div class="display-1"><mark>Робота з фоном</mark></div>

	<p>

	<pre>

	Фон
	
	background — це CSS властивість, яка використовується
	для задання фонового зображення або кольору елемента.
	
	.example {
	background: red;
	}
		
	background
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Фон
	
	Значення Опис
	
	CO I P S R O CL A
	
	C — колір, I — зображення, P — позиція фону
	S — розмір зображення, R — повторення фонового
	зображення, O — вихідна точка фону, CL — покриття
	фонового зображення, A — прикріплення фону
	
	CO (color) background-color
	
	I (image) background-image
	
	P (position) background-position
	
	S (size) background-size
	
	R (repeat) background-repeat
	
	O (origin) background-origin
	
	CL (clip) background-clip
	
	A (attachment) background-attachment

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Фоновий колір
	
	background-color — це CSS властивість, яка
	використовується для задання кольору фону елемента
	
	.example {
	background-color: red;
	}
		
	background-color
	
	Значення Опис
	
	&lt;color&gt; Використовується для задання рівномірного
			кольору фону елемента.
	
	transparent Використовується для встановлення прозорого
			фону елемента.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Фонове зображення
	
	background-image — це CSS властивість, яка
	використовується для встановлення одного або декількох
	фонових зображень для вказаного HTML елементу
	
	.example {
	background-image: none;
	}
		
	background-image

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Фонове зображення
	
	Значення Опис
	
	url(image.png) Вказує шлях до файлу зображення в форматі
	
	png, gif, jpg або іншому.
	
	none Встановлює відсутність фонового зображення.
	
	linear-gradient() Встановлює лінійний градієнт, де кінці градієнта
	знаходяться на протилежних кінцях елемента.
	
	radial-gradient() Встановлює радіальний градієнт, де центр градієнта
	
	знаходиться в центрі елемента.
	
	conic-gradient()
	
	Створює градієнт, який змінює колір у вигляді
	конуса. Це означає, що колір змінюється залежно
	від кута, який вимірюється від центру градієнта.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	linear-gradient()
	
	Значення Опис
	
	linear-gradient(&lt;angle&gt;, &lt;side-or-corner&gt;, &lt;color-stop&gt;)
	
	&lt;angle&gt; Вказує кут напряму градієнта у градусах,
		є необов’язковим значенням
	
	&lt;side-or-corner&gt;
		Вказує напрям градієнта щодо кутів контейнера,
		в якому знаходиться елемент, є необов’язковим
	
		to top, to bottom, to left, to right, to top left,
		to top right, to bottom left, to bottom right
	
	&lt;color-stop&gt; Це точка на градієнті, де колір змінюється,
		вони вказуються у форматі: color position
	
		color — це колір
	
		position — це відсоткове значення (від 0% до 100%),
		що визначає, де знаходиться точка на градієнті.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	linear-gradient()
	
	linear-gradient(45deg, top left, # f8cdd4 0%, # f1a7c8 50%, # e86f9e 100%);
	
	Значення Опис
	
	45deg це значення кута напрямку градієнта
	
	top left це значення напрямку градієнта щодо елемента
	
	#f8cdd4 0% (# f8cdd4)
	#f1a7c8 50% (# f1a7c8)
	#e86f9e 100% (# e86f9e)
	
	це список точок, на яких змінюється колір градієнту

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	radial-gradient()
	
	Значення Опис
	
	radial-gradient(&lt;shape&gt;, &lt;size&gt;, &lt;position&gt;, &lt;color-stop&gt;, &lt;color-hint&gt;)
	
	&lt;shape&gt;
	(обов'язковий)
	
		Визначає форму радіального градієнта.
		Може бути вказано одне з наступних значень:
	
	circle Кругла форма
	
	ellipse Еліптична форма
	
	closest-side Градієнт розтягується
		до найближчої сторони елемента
	
	closest-corner Градієнт розтягується
		до найближчого кута елемента
	
	farthest-side Градієнт розтягується
		до найдальшої сторони елемента
	
	farthest-corner Градієнт розтягується
		до найдальшого кута елемента

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	radial-gradient()
	
	Значення Опис
	
	radial-gradient(&lt;shape&gt;, &lt;size&gt;, &lt;position&gt;, &lt;color-stop&gt;, &lt;color-hint&gt;)
	
	&lt;size&gt;
	(необов'язковий)
	
		Визначає розмір радіального градієнта
		Може бути вказано одне з наступних значень:
	
	% Відсоткове значення розміру градієнта щодо
		розмірів елемента, наприклад, 50%
	
	closest-side Розмір градієнта дорівнює відстані до найближчої
		сторони елемента
	
	closest-corner Розмір градієнта дорівнює відстані до найближчого
		кута елемента
	
	farthest-side Розмір градієнта дорівнює
		відстані до найдальшої сторони елемента
	
	farthest-corner Розмір градієнта дорівнює
		відстані до найдальшого кута елемента

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	radial-gradient()
	
	Значення Опис
	
	radial-gradient(&lt;shape&gt;, &lt;size&gt;, &lt;position&gt;, &lt;angle&gt;, &lt;color&gt;)

	&lt;position&gt;
	(необов'язко)
	
		Визначає положення центру градієнта. Наприклад,
		50% 50% для центру або top left для верхнього
		лівого кута
	
	&lt;angle&gt;
	(необов'язко)
	
		Вказує напрямок градієнта. Наприклад 45deg
	
	&lt;color&gt;
	
		Значення кольорів, які використовуватимуться в
		градієнті. Можна вказати кілька кольорів, які плавно
		переходитимуть один в одного.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	radial-gradient()
	
	radial-gradient(ellipse closest-corner at 20% 40%,
	# f7b42c 0%, # fc575e 90%, # ff9599 100%);
	
	Значення Опис
	
	ellipse Форма градієнта
	
	closest-corner Розмір градієнта
	
	20% 40% Положення центру градієнта
	
	# f7b42c 0% Початковий колір
	
	# fc575e 90% Колір на відстані 90%
	
	# ff9599 100% Кінцевий колір
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	conic-gradient()
	
	Значення Опис
	
	conic-gradient(&lt;from&gt;, &lt;at&gt;, &lt;stops&gt;)
	
	&lt;from&gt;
	
		Початковий кут градієнта (у градусах, від 0 до 360),
		звідки починається перший колір градієнта. Якщо не
		вказано, то кут за замовчуванням дорівнює 0
		градусів.
	
	&lt;at&gt;
	
		положення центру градієнта. Може бути задано як
		ключове слово (наприклад, center) або координати
		(наприклад, 50% 50%).
	
	&lt;stops&gt; Вказує колір на певному куті конуса.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	conic-gradient()
	
	conic-gradient(from 0deg at center, white 0%, yellow 25%, red 50%)
	
	Значення Опис
	
	from 0deg
	
	Це кут, з якого починається градієнт, вказаний у
	градусах (deg). У цьому випадку кут дорівнює 0
	градусів, що означає, що градієнт починається вгорі
	елемента.
	
	at center Це положення центру градієнта. У цьому випадку
	
	центр знаходиться в центрі елемента.
	
	white 0%, yellow 25%,
	red 50%
	
	Це колірні значення градієнта та точки зупинки, на
	яких змінюються кольори. У цьому випадку
	використовується градієнт від білого кольору
	(white) в центрі градієнта (0%), через жовтий колір
	(yellow) на відстані 25% від центру, до червоного
	кольору (red) на відстані 50% від центру.
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Повторення
	фонового
	зображення
	
	background-repeat — це CSS властивість, яка
	використовується для задання того, як повторювати фонове
	зображення.
	
	.example {
	background-repeat: no-repeat;
	}
		
	background-repeat
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Повторення
	фонового
	зображення
	
	Значення Опис
	
	repeat
	
	Фонове зображення повторюється як по
	горизонталі, так і по вертикалі.
	Значення за замовчуванням
	
	repeat-x Фонове зображення повторюється тільки по
		горизонталі
	
	repeat-y Фонове зображення повторюється тільки по
		вертикалі
	
	no-repeat Фонове зображення не повторюється,
		відображається лише один раз
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Повторення
	фонового
	зображення
	
	Значення Опис
	
	space
	
	Фонове зображення повторюється пропорційно
	збільшуючи проміжки між ними, якщо зображення
	не вміщається повністю
	
	round
	
	Фонове зображення повторюється пропорційно
	збільшуючи або зменшуючи його розмір, щоб
	заповнити весь елемент

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Прикріплення фону
	
	background-attachment — це CSS властивість, яка
	визначає, як фонове зображення повинно бути закріплено
	відносно вікна перегляду.
	
	.example {
	background-attachment: scroll;
	}
		
	background-attachment
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Прикріплення фону
	
	Значення Опис
	
	scroll Зображення прокручується разом зі сторінкою.
		Значення за замовченням
	
	fixed Зображення залишається нерухомим навіть при
		прокручуванні сторінки
	
	local Зображення залишається в межах елемента і
		прокручується разом з контентом в елементі
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Позиція фону
	
	background-position — це CSS властивість, яка
	використовується для задання позиції фонового зображення
	відносно елемента.
	
	.example {
	background-position: bottom;
	}
		
	background-position
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Позиція фону
	
	Значення Опис
	
	center Розміщує зображення по центру елемента.
	
	top Розміщує зображення вгорі елемента.
	
	bottom Розміщує зображення внизу елемента.
	
	left Розміщує зображення зліва від елемента.
	
	right Розміщує зображення справа від елемента
	
	довжина Відстань на якій буде розміщено зображення від
		початку контейнера елемента
	
	% Відсоток відносно розміру контейнера елемента на
		який буде розміщено зображення
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір фонового
	зображення
	
	background-size — це CSS властивість, яка
	використовується для встановлення розміру фонового
	зображення елемента
	
	.example {
	background-size: cover;
	}
		
	background-size
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір фонового
	зображення
	
	Значення Опис
	
	auto Розмір зображення буде встановлено автоматично
	
	довжина
	
	Задається фіксований розмір зображення за
	допомогою довжини, такої як пікселі, сантиметри,
	відсотки тощо
	
	%
	
	Розмір зображення встановлюється відносно
	розміру контейнера, в якому знаходиться фонове
	зображення
	
	contain
	
	Фонове зображення розтягується, щоб зайняти всю
	доступну площу, не порушуючи при цьому
	співвідношення сторін.
	
	cover
	
	Фонове зображення збільшується або зменшується,
	щоб вміститися в доступну площу, зберігаючи
	співвідношення сторін.
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Покриття фону
	
	background-clip — це CSS властивість, яка визначає, який
	регіон елементу буде використовуватися для відображення
	фонового зображення або кольору
	
	.example {
	background-clip: text;
	}
	
	background-clip
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Покриття фону
	
	Значення Опис
	
	border-box Фоновий колір або зображення відображається в
		межах рамки. Значення за замовчуванням.
	
	padding-box Фоновий колір або зображення відображається в
		межах поля елемента.
	
	content-box Фоновий колір або зображення відображається в
		межах контенту елемента.
	
	text Фонове зображення або колір буде обмежене до
		контенту тексту в межах елемента
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Вихідна точка фону
	
	background-origin — це CSS властивість, яка визначає від
	якого місця елемента починається відображення фонового
	зображення.
	
	.example {
	background-origin: padding-box;
	}
		
	background-origin
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Вихідна точка фону
	
	Значення Опис
	
	border-box Фонове зображення відображається в рамках,
		обмежених зовнішнім полем елемента.
	
	padding-box Фонове зображення відображається в рамках,
		обмежених внутрішнім полем елемента
	
	content-box
	
	Фонове зображення відображається в межах
	контенту елемента, тобто без урахування полів та
	рамок.
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Зображення
	для рамки
	
	border-image — це CSS властивість, яка встановлює
	зображення для рамки
	
	.example {
	border-image: url(border.png) 30 30 round;
	}
		
	border-image
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Зображення
	для рамки
	
	Значення Опис
	
	SO SL W O R
	
	SO — джерело зображення,
	SL — розрізання зображення,
	W — ширина зображення,
	O — відступ зображення рамки від межі рамки
	R — тип повторення зображення
	
	SO (source) border-image-source
	
	SL (slice) border-image-slice
	
	W (width) border-image-width
	
	O (outset) border-image-outset
	
	R (repeat) border-image-repeat
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Джерело
	зображення рамки
	
	border-image-source — це CSS властивість, яка визначає
	зображення, яке буде використовуватися як рамка
	елемента.
	
	.example {
	border-image-source: url('border.png');
	}
		
	border-image-source
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Джерело
	зображення рамки
	
	Значення Опис
	
	none За замовчуванням не встановлюється зображення
	
	url(image.png) Шлях до зображення, яке буде використовуватися
		як рамка
	
	linear-gradient() Лінійний градієнт
	
	radial-gradient() Радіальний градієнт
	
	conic-gradient() Конічний градієнт
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Ширина границі
	зображення
	
	border-image-width — це CSS властивість, яка встановлює
	ширину границі зображення, використовуваного як границя
	для елемента
	
	.example {
	border-image-width: 10px;
	}
		
	border-image-width
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Ширина границі
	зображення

	Значення Опис

	auto

	Встановлює ширину границі за замовчуванням, яка
	залежить від розміру зображення границі.

	довжина

	Встановлює ширину границі як фіксовану довжину в
	пікселях, відсотках або інших допустимих одиницях.
	
	%

	Встановлює ширину границі відносно ширини вмісту
	
	Число

	Встановлює ширину границі як множник ширини
	границі елемента.
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розрізання образу
	рамки

	border-image-slice — це CSS властивість, яка
	використовується для визначення розрізання образу рамки і
	визначає розміри внутрішньої рамки.

	.example {
	border-image-slice: 10%;
	}
	
	border-image-slice
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розрізання образу
	рамки

	Значення Опис

	число

	Ціле число, вказує розмір у пікселях для розрізання
	зображення рамки

	%

	Відсоток, який вказує, який відсоток зображення
	рамки буде розрізаний

	fill

	Зображення рамки буде розтягнуте на всю рамку

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Повторення
	зображення рамки

	border-image-repeat — це CSS властивість, яка визначає,
	як повторювати картинку границі.

	.example {
	border-image-repeat: repeat;
	}
	
	border-image-repeat

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Повторення
	зображення рамки

	Значення Опис

	stretch

	Зображення границі буде розтягнуто, щоб
	заповнити всю довжину границі.
	Значенням за замовчуванням

	repeat

	Зображення границі буде повторюватися,
	щоб заповнити всю довжину границі

	round

	Зображення границі буде повторюватися та буде
	масштабовано, щоб заповнити рамку без обрізання
	картинки

	space
	
	Зображення границі буде повторюватися,
	додаючи додаткові проміжки

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Зовнішній відступ
	зображення

	border-image-outset — це CSS властивість, яка
	використовується для встановлення зовнішнього відступу
	для границі зображення

	.example {
	border-image-outset: 20px;
	}
	
	border-image-outset

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Зовнішній відступ
	зображення

	Значення Опис

	довжина

	Встановлює зовнішній відступ зображення границі
	в пікселях, відсотках або інших одиницях
	вимірювання

	число

	Задає зовнішній відступ зображення границі як
	кратність розміру пікселів границі.

	auto

	Автоматично встановлює зовнішній відступ
	зображення границі, що забезпечує його
	відображення на всій площі елемента без
	використання додаткового простору

    </pre>

	</p>

	<hr />
	<hr />

	<div class="page">
		<div class="page_content">
			<div class="page_block">
				<header class="header row g-0">
					<div class="col-3">
						{{> logo}}
					</div>

					<nav class="header_nav col-9">
						<div class="header_nav_right">
							{{> navTemplate list=header}}
						</div>
					</nav>
				</header>

				{{!-- {{> divider}} --}}
			</div>

			<div class="page_block">
				{{> hero title=hero.title text=hero.text}}
			</div>

			<div class="page_block">
				<main class="row g-0 plans">

					{{#each plans}}

					<div class="col plans_card">
						{{> card data=this}}
					</div>

					{{/each}}

				</main>
			</div>

			<div class="page_block">
				{{!-- {{> divider}} --}}
				<footer class="row g-0 footer">
					<div class="col-3">
						{{> logo}}
						<span class="footer_copyright">Copyright 2023-2024</span>
					</div>
					{{#each footer}}
					<div class="col-3">
						<span class="footer_title">{{title}}</span>
						{{> navTemplate list=links isVertical=true}}
					</div>
					{{/each}}
				</footer>
			</div>
		</div>
	</div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/background.hbs
Адже наш layout/background.hbs має вже структуру HTML
--}}