{{!--
Це код container файлу для block сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/block"
--}}

<main class="p-5">

	<hr />
	<hr />

	<div class="display-1"><mark>Відображення блоків</mark></div>

	<p>

	<pre>

	Відображення
	
	display — це CSS властивість, яка визначає відображення
	елемента на веб-сторінці
	
	.example {
	display: inline;
	}
		
	display
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Відображення
	
	Значення Опис
	
	none
	
	Елемент не відображається на веб-сторінці та займає
	нульовий розмір. Він повністю видаляється з потоку
	документа
	
	block
	
	Елемент відображається як блок, займає всю доступну
	ширину батьківського елемента і починається з нового
	рядка
	
	inline Елемент відображається в рядку, поряд з іншими
	елементами, і не переноситься на новий рядок
	
	inline-block
	
	Елемент відображається в рядку, але може мати ширину,
	висоту, внутрішні відступи та інші властивості блокових
	елементів

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Блочні елементи
	
	Назва елементів З якими тегами використовується
	
	Блокові елементи
	
	&lt;address&gt;, &lt;article&gt;, &lt;aside&gt;,
	&lt;blockquote&gt;,
	&lt;dd&gt;, &lt;div&gt;, &lt;dl&gt;, &lt;dt&gt;, &lt;details&gt;,
	&lt;fieldset&gt;, &lt;figcaption&gt;, &lt;figure&gt;, &lt;footer&gt;, &lt;form&gt;,
	&lt;h1&gt;-&lt;h6&gt;, &lt;header&gt;,
	&lt;hr&gt;,
	&lt;li&gt;, &lt;legend&gt;,
	&lt;nav&gt;, &lt;noscript&gt;,
	&lt;ol&gt;, &lt;output&gt;, &lt;optgroup&gt;, &lt;option&gt;,
	&lt;p&gt;, &lt;pre&gt;,
	&lt;section&gt;, &lt;summary&gt;,
	&lt;table&gt;,
	&lt;ul&gt;.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Лінійні елементи
	
	Назва елементів З якими тегами використовується
	
	Лінійні елементи
	
	&lt;a&gt;, &lt;area&gt;,
	&lt;b&gt;, &lt;bdo&gt;, &lt;bdi&gt;,
	&lt;cite&gt;, &lt;code&gt;,
	&lt;dfn&gt;, &lt;del&gt;,
	&lt;em&gt;, &lt;i&gt;, &lt;iframe&gt;, &lt;img&gt;, &lt;ins&gt;,
	&lt;kbd&gt;, &lt;label&gt;, &lt;map&gt;, &lt;mark&gt;,
	&lt;s&gt;, &lt;samp&gt;, &lt;small&gt;, &lt;span&gt;, &lt;strong&gt;, &lt;sub&gt;, &lt;sup&gt;,
	&lt;time&gt;, &lt;q&gt;, &lt;ruby&gt;, &lt;u&gt;, &lt;var&gt;.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Рядково-блокові
	елементи
	
	Назва елементів З якими тегами використовується
	
	Рядково-блокові
	елементи
	
	&lt;audio&gt;, &lt;button&gt;, &lt;canvas&gt;, &lt;embed&gt;, &lt;input&gt;, &lt;meter&gt;,
	&lt;object&gt;, &lt;progress&gt;, &lt;select&gt;, &lt;textarea&gt;, &lt;video&gt;.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Зовнішній відступ
	
	margin — це CSS властивість, яка задає зовнішні відступи
	елементу, відносно сусідніх елементів
	
	.example {
	margin: 10px;
	}
		
	margin
	
	Значення Опис
	
	Одиниця виміру Відступ зазначеної довжини в одиниці виміру
	
	% Обчислюється щодо ширини блоку контейнера
	
	auto Автоматичне вирівнювання відступів

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Внутрішній відступ
	
	padding — це CSS властивість, яка задає відступи від країв
	батьківського елементу (внутрішні відступи)
	
	.example {
	padding: 20px;
	}
		
	padding
	
	Значення Опис
	
	Одиниця виміру Відступ зазначеної довжини в одиниці виміру
	
	% Обчислюється щодо ширини блоку контейнера

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Ширина
	
	width - це властивість CSS, яка визначає ширину елемента.
	
	Ця властивість не застосовується до лінійних елементів
	
	.example {
	width: 250px;
	}
		
	width

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Ширина
	
	Значення Опис
	
	% Задає ширину відсотково відносно батьківського
	
	елемента.
	
	довжина Задає ширину елемента в конкретній одиниці
	
	вимірювання
	
	auto
	
	Задає автоматичну ширину елемента, яка залежить від
	його вмісту або властивостей батьківського
	контейнера
	
	fit-content Задає ширину елемента, що відповідає його контенту
	
	min-content Задає мінімальну ширину елемента
	
	max-content Задає максимальну ширину елемента

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Висота
	
	height - це CSS властивість, яка визначає висоту елемента.
	
	.example {
	height: max-content;
	}
		
	height

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Висота
	
	значення Опис
	
	% Задає висоту відсотково відносно батьківського
	
	елемента.
	
	довжина Задає висоту елемента в конкретній одиниці
	
	вимірювання
	
	auto
	
	Задає автоматичну висоту елемента, яка залежить від
	його вмісту або властивостей батьківського
	контейнера
	
	fit-content Задає висоту елемента, що відповідає його контенту
	
	min-content Задає мінімальну висоту елемента
	
	max-content Задає максимальну висоту елемента
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Мінімальна ширина
	
	min-width — це властивість CSS, яка встановлює мінімальну
	ширину елемента.
	
	.example {
	min-width: 150px;
	}
		
	min-width

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Мінімальна ширина
	
	3начення Опис
	
	none Забороняє встановлення мінімальної ширини для
	
	елемента
	
	% Задає мінімальну ширину відсотково відносно
	
	батьківського елемента.
	
	Довжина Задає мінімальну ширину елемента в конкретній
	
	одиниці вимірювання
	
	fit-content Задає мінімальну ширину елемента, що відповідає його
	
	контенту
	
	min-content Задає мінімальну ширину елемента
	
	max-content Задає максимальну ширину елемента
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Максимальна ширина
	
	max-width — це властивість CSS, яка встановлює
	максимальну ширину елемента.
	
	.example {
	max-width: 300px;
	}
		
	max-width
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Максимальна ширина
	
	3начення Опис
	
	none Забороняє встановлення максимальної ширини для
	
	елемента
	
	% Задає максимальну ширину відсотково відносно
	
	батьківського елемента.
	
	Довжина Задає максимальну ширину елемента в конкретній
	
	одиниці вимірювання
	
	fit-content Задає максимальну ширину елемента, що відповідає
	
	його контенту
	
	min-content Задає мінімальну ширину елемента
	
	max-content Задає максимальну ширину елемента
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Мінімальна висота
	
	min-height — це властивість CSS, яка встановлює
	мінімальну висоту елемента.
	
	.example {
	min-height: 150px;
	}
		
	min-height
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Мінімальна висота
	
	3начення Опис
	
	none Забороняє встановлення мінімальної висоти для
	
	елемента
	
	% Задає мінімальну висоту відсотково відносно
	
	батьківського елемента.
	
	Довжина Задає мінімальну висоту елемента в конкретній
	
	одиниці вимірювання
	
	fit-content Задає мінімальну висоту елемента, що відповідає його
	
	контенту
	
	min-content Задає мінімальну висоту елемента
	
	max-content Задає максимальну висоту елемента
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Максимальна висота
	
	max-height — це властивість CSS, яка встановлює
	максимальну висоту елемента.
	
	.example {
	max-height: 425px;
	}
		
	max-height
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Максимальна висота
	
	3начення Опис
	
	none Забороняє встановлення максимальної висоти для
	
	елемента
	
	% Задає максимальну висоту відсотково відносно
	
	батьківського елемента.
	
	Довжина Задає максимальну висоту елемента в конкретній
	
	одиниці вимірювання
	
	fit-content Встановлює максимальну висоту елемента відповідно
	
	до його вмісту
	
	max-content Встановлює максимальну висоту елемента на розмір
	
	його максимального вмісту
	
	min-content Встановлює максимальну висоту елемента на розмір
	
	його мінімального вмісту
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір коробки
	
	box-sizing — це CSS властивість, яка визначає
	як розраховувати розмір елемента
	
	.example {
	box-sizing: content-box;
	}
		
	box-sizing
	
	значення Опис
	
	content-box
	
	Розмір елемента включає лише його вміст, не
	враховуючи внутрішні відступи та рамку.
	Значення за замовчуванням.
	
	border-box Розмір елемента включає його вміст, внутрішні
	
	відступи та рамку.
        
    </pre>

	</p>

	<hr />
	<hr />

	<div class="card p-5 m-5 card1">
		<span hidden class="test">Hello world!</span>
		<p hidden>Hello world!</p>
	</div>

	<div>div-Block 1</div>
	<div>div-Block 2</div>
	<div>div-Block 3</div>

	<span>span-Inline 1</span>
	<span>span-Inline 2</span>
	<span>span-Inline 3</span>

	<span class="block1">span-Block</span>

	<span class="inline-block1">span-Inline-block</span>

	<div style="margin: 50px 0;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="inline-block2">span-Inline-block</span>
	</div>

	<div style="margin: 50px 0;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block2">span-Block</span>
	</div>

	<div style="margin: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block3">span-Block</span>
	</div>

	<div style="margin: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block4">span-Block fit-content</span>
	</div>

	<div style="margin: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block5">span-Block min-content</span>
	</div>

	<div style="margin: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block6">span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content</span>
	</div>

	<div style="padding: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block5">span-Block min-content</span>
	</div>

	<div style="margin: 50px 0; background: grey;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block7">span-Block</span>
	</div>

	<div style="margin: 50px 0; background: grey; height: 200px;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block8">span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content</span>

		<span>span-Inline 4</span>
	</div>

	<div style="margin: 50px 0; background: grey; height: 200px;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block9">span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content</span>

		<span>span-Inline 4</span>
	</div>

	<div style="margin: 50px 0; background: grey; height: 200px;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block10">span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block</span>

		<span>span-Inline 4</span>
	</div>

	<div style="margin: 50px 0; background: grey; height: 200px;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block11">span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content</span>

		<span>span-Inline 4</span>
	</div>

	<div style="margin: 50px 0; background: grey; height: 200px;">
		<span>span-Inline 1</span>
		<span>span-Inline 2</span>
		<span>span-Inline 3</span>

		<span class="block12">span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content
			span-Block max-content span-Block max-content span-Block max-content span-Block max-content span-Block
			max-content span-Block max-content span-Block max-content span-Block max-content span-Block max-content
			span-Block max-content span-Block max-content span-Block max-content</span>

		<span>span-Inline 4</span>
	</div>




	{{!--
	Цей код містить лише те, що буде виводитись в {{{body}}} в layout/block.hbs
	Адже наш layout/block.hbs має вже структуру HTML
	--}}