{{!--
Це код container файлу для bootstrap сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bootstrap"
--}}

<main>

    <div class="display-1"><mark>Typography</mark></div>

    <p>

    <pre>
        class опис

        display-1
        display-2
        display-3
        display-4
        display-5
        display-6

        використовуються для створення
        несемантичних заголовків різних рівнів

        text-muted встановлює сірий колір для тексту

        text-center
        text-end використовуються для вирівнювання тексту

        text-uppercase
        text-lowercase
        text-capitalize

        використовуються для зміни регістру тексту
    </pre>

    </p>

    <hr />

    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>

    <hr />

    <div class="display-1">display-1 - Несемантичний заголовок</div>
    <div class="display-2">display-2 - Несемантичний заголовок</div>
    <div class="display-3">display-3 - Несемантичний заголовок</div>
    <div class="display-4">display-4 - Несемантичний заголовок</div>
    <div class="display-5">display-5 - Несемантичний заголовок</div>
    <div class="display-6">display-6 - Несемантичний заголовок</div>

    <hr />

    <div class="text-muted">text-muted - Додатковий текст</div>

    <hr />

    <div class="text-center">text-center - Текст стане по центру</div>
    <div class="text-end">text-end - Текст вирівняється по правому краю</div>

    <hr />

    <div class="text-uppercase">text-uppercase - Весь текст великими літерами</div>
    <div class="text-lowercase">text-lowercase - Весь текст малими літерами</div>
    <div class="text-capitalize">text-capitalize - Кожне слово з великої літери</div>



    <p>Button - це стилізований HTML елемент кнопки. Button може працювати з тегами &lt;a&gt;, &lt;button&gt;,
        &lt;input&gt;</p>

    <p>

    <pre>
        class Опис

        btn вказує, що цей тег буде кнопкою

        btn-primary визначає основний колір кнопки

        btn-secondary визначає додатковий колір кнопки

        btn-success визначає зелений (успішний) колір кнопки

        btn-danger визначає червоний (небезпечний) колір кнопки

        btn-warning визначає жовтий (попереджувальний) колір кнопки

        btn-info визначає блакитний (інформаційний) колір

        btn-light визначає світлий колір кнопки

        btn-dark визначає темний колір кнопки

        btn-link визначає кнопку з посиланням
    </pre>

    </p>

    <hr />

    <p>&lt;button&gt;</p>

    <button class="btn btn-primary">btn-primary</button>
    <button class="btn btn-secondary">btn-secondary</button>
    <button class="btn btn-success">btn-success</button>
    <button class="btn btn-danger">btn-danger</button>
    <button class="btn btn-warning">btn-warning</button>
    <button class="btn btn-info">btn-info</button>
    <button class="btn btn-light">btn-light</button>
    <button class="btn btn-dark">btn-dark</button>
    <button class="btn btn-link">btn-link</button>

    <p>&lt;a&gt;</p>

    <a href="#" class="btn btn-link">btn-link</a>
    <a href="#" class="btn btn-primary">btn-link</a>

    <hr />
    <hr />

    <div class="display-1"><mark>Typography color</mark></div>

    <p>

    <pre>
        class Опис

        text-primary визначає основний колір

        text-secondary визначає додатковий колір

        text-success визначає зелений (успішний) колір

        text-danger визначає червоний (небезпечний) колір

        text-warning визначає жовтий (попереджувальний) колір

        text-info визначає блакитний (інформаційний) колір

        text-light визначає світлий колір

        text-dark визначає темний колір
    </pre>

    </p>

    <p class="text-primary">text-primary</p>
    <p class="text-secondary">text-secondary</p>
    <p class="text-success">text-success</p>
    <p class="text-danger">text-danger</p>
    <p class="text-warning">text-warning</p>
    <p class="text-info">text-info</p>
    <p class="text-light">text-light</p>
    <p class="text-dark">text-dark</p>

    <hr />
    <hr />

    <div class="display-1"><mark>Outline buttons</mark></div>

    <p>

        Потрібна кнопка, але не яскраві фонові кольори, які вони
        приносять? Замініть стандартні класи модифікаторів на
        .btn-outline-*, щоб видалити всі фонові зображення та
        кольори на будь-якій кнопці.

    <pre>
        class Опис

        btn-outline-primary визначає основний колір кнопки

        btn-outline-secondary визначає додатковий колір кнопки

        btn-outline-success визначає зелений (успішний) колір кнопки

        btn-outline-danger визначає червоний (небезпечний) колір кнопки

        btn-outline-warning визначає жовтий (попереджувальний) колір кнопки

        btn-outline-info визначає блакитний (інформаційний) колір

        btn-outline-light визначає світлий колір кнопки

        btn-outline-dark визначає темний колір кнопки
    </pre>

    </p>

    <button class="btn btn-outline-primary">btn-primary</button>
    <button class="btn btn-outline-secondary">btn-secondary</button>
    <button class="btn btn-outline-success">btn-success</button>
    <button class="btn btn-outline-danger">btn-danger</button>
    <button class="btn btn-outline-warning">btn-warning</button>
    <button class="btn btn-outline-info">btn-info</button>
    <button class="btn btn-outline-light">btn-light</button>
    <button class="btn btn-outline-dark">btn-dark</button>

    <br />

    <p>
        Приклад використання:
    </p>

    <button class="btn btn-primary">Додати</button>
    <button class="btn btn-outline-primary">Редагувати</button>
    <button class="btn btn-outline-danger">Видалити</button>

    <hr />
    <hr />

    <div class="display-1"><mark>Sizes buttons</mark></div>

    <p>

        Sizes buttons - це додаткові класи

    <pre>
        class Опис

        btn-lg встановлює більший розмір кнопки

        btn-sm встановлює менший розмір кнопки
    </pre>

    </p>

    <button class="btn btn-lg">btn-lg</button>
    <button class="btn btn-sm">btn-sm</button>

    <br />

    <p>
        Приклад використання:
    </p>

    <button class="btn btn-primary btn-lg">Додати</button>
    <button class="btn btn-outline-primary">Редагувати</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>

    <hr />
    <hr />

    <div class="display-1"><mark>Block або Box</mark></div>

    <p>

        Block або Box - це компонент, який створює коробку для
        контенту, яка має сіру рамку довкола контенту

    <pre>
        class Опис
        
        card клас для контейнера, який надає рамку для коробки
        
        card-body відповідає за відображення контенту коробки
    </pre>

    </p>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/bootstrap.hbs
Адже наш layout/bootstrap.hbs має вже структуру HTML
--}}