{{!--
Це код container файлу для bootstrap сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bootstrap"
--}}

<main class="p-5">

    <div class="display-1"><mark>Typography</mark></div>

    <p>

    <pre>
        class опис

        display-1
        display-2
        display-3
        display-4
        display-5
        display-6

        використовуються для створення
        несемантичних заголовків різних рівнів

        text-muted встановлює сірий колір для тексту

        text-center
        text-end використовуються для вирівнювання тексту

        text-uppercase
        text-lowercase
        text-capitalize

        використовуються для зміни регістру тексту
    </pre>

    </p>

    <hr />

    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>

    <hr />

    <div class="display-1">display-1 - Несемантичний заголовок</div>
    <div class="display-2">display-2 - Несемантичний заголовок</div>
    <div class="display-3">display-3 - Несемантичний заголовок</div>
    <div class="display-4">display-4 - Несемантичний заголовок</div>
    <div class="display-5">display-5 - Несемантичний заголовок</div>
    <div class="display-6">display-6 - Несемантичний заголовок</div>

    <hr />

    <div class="text-muted">text-muted - Додатковий текст</div>

    <hr />

    <div class="text-center">text-center - Текст стане по центру</div>
    <div class="text-end">text-end - Текст вирівняється по правому краю</div>

    <hr />

    <div class="text-uppercase">text-uppercase - Весь текст великими літерами</div>
    <div class="text-lowercase">text-lowercase - Весь текст малими літерами</div>
    <div class="text-capitalize">text-capitalize - Кожне слово з великої літери</div>



    <p>Button - це стилізований HTML елемент кнопки. Button може працювати з тегами &lt;a&gt;, &lt;button&gt;,
        &lt;input&gt;</p>

    <p>

    <pre>
        class Опис

        btn вказує, що цей тег буде кнопкою

        btn-primary визначає основний колір кнопки

        btn-secondary визначає додатковий колір кнопки

        btn-success визначає зелений (успішний) колір кнопки

        btn-danger визначає червоний (небезпечний) колір кнопки

        btn-warning визначає жовтий (попереджувальний) колір кнопки

        btn-info визначає блакитний (інформаційний) колір

        btn-light визначає світлий колір кнопки

        btn-dark визначає темний колір кнопки

        btn-link визначає кнопку з посиланням
    </pre>

    </p>

    <hr />

    <p>&lt;button&gt;</p>

    <button class="btn btn-primary">btn-primary</button>
    <button class="btn btn-secondary">btn-secondary</button>
    <button class="btn btn-success">btn-success</button>
    <button class="btn btn-danger">btn-danger</button>
    <button class="btn btn-warning">btn-warning</button>
    <button class="btn btn-info">btn-info</button>
    <button class="btn btn-light">btn-light</button>
    <button class="btn btn-dark">btn-dark</button>
    <button class="btn btn-link">btn-link</button>

    <p>&lt;a&gt;</p>

    <a href="#" class="btn btn-link">btn-link</a>
    <a href="#" class="btn btn-primary">btn-link</a>

    <hr />
    <hr />

    <div class="display-1"><mark>Typography color</mark></div>

    <p>

    <pre>
        class Опис

        text-primary визначає основний колір

        text-secondary визначає додатковий колір

        text-success визначає зелений (успішний) колір

        text-danger визначає червоний (небезпечний) колір

        text-warning визначає жовтий (попереджувальний) колір

        text-info визначає блакитний (інформаційний) колір

        text-light визначає світлий колір

        text-dark визначає темний колір
    </pre>

    </p>

    <p class="text-primary">text-primary</p>
    <p class="text-secondary">text-secondary</p>
    <p class="text-success">text-success</p>
    <p class="text-danger">text-danger</p>
    <p class="text-warning">text-warning</p>
    <p class="text-info">text-info</p>
    <p class="text-light">text-light</p>
    <p class="text-dark">text-dark</p>

    <hr />
    <hr />

    <div class="display-1"><mark>Outline buttons</mark></div>

    <p>

        Потрібна кнопка, але не яскраві фонові кольори, які вони
        приносять? Замініть стандартні класи модифікаторів на
        .btn-outline-*, щоб видалити всі фонові зображення та
        кольори на будь-якій кнопці.

    <pre>
        class Опис

        btn-outline-primary визначає основний колір кнопки

        btn-outline-secondary визначає додатковий колір кнопки

        btn-outline-success визначає зелений (успішний) колір кнопки

        btn-outline-danger визначає червоний (небезпечний) колір кнопки

        btn-outline-warning визначає жовтий (попереджувальний) колір кнопки

        btn-outline-info визначає блакитний (інформаційний) колір

        btn-outline-light визначає світлий колір кнопки

        btn-outline-dark визначає темний колір кнопки
    </pre>

    </p>

    <button class="btn btn-outline-primary">btn-primary</button>
    <button class="btn btn-outline-secondary">btn-secondary</button>
    <button class="btn btn-outline-success">btn-success</button>
    <button class="btn btn-outline-danger">btn-danger</button>
    <button class="btn btn-outline-warning">btn-warning</button>
    <button class="btn btn-outline-info">btn-info</button>
    <button class="btn btn-outline-light">btn-light</button>
    <button class="btn btn-outline-dark">btn-dark</button>

    <br />

    <p>
        Приклад використання:
    </p>

    <button class="btn btn-primary">Додати</button>
    <button class="btn btn-outline-primary">Редагувати</button>
    <button class="btn btn-outline-danger">Видалити</button>

    <hr />
    <hr />

    <div class="display-1"><mark>Sizes buttons</mark></div>

    <p>

        Sizes buttons - це додаткові класи

    <pre>
        class Опис

        btn-lg встановлює більший розмір кнопки

        btn-sm встановлює менший розмір кнопки
    </pre>

    </p>

    <button class="btn btn-lg">btn-lg</button>
    <button class="btn btn-sm">btn-sm</button>

    <br />

    <p>
        Приклад використання:
    </p>

    <button class="btn btn-primary btn-lg">Додати</button>
    <button class="btn btn-outline-primary">Редагувати</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>

    <hr />
    <hr />

    <div class="display-1"><mark>Block або Box</mark></div>

    <p>

        Block або Box - це компонент, який створює коробку для
        контенту, яка має сіру рамку довкола контенту

    <pre>
        class Опис
        
        card клас для контейнера, який надає рамку для коробки
        
        card-body відповідає за відображення контенту коробки
    </pre>

    </p>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Card</mark></div>

    <p>

        Card - це компонент, який створює карточку сутності

    <pre>
        class Опис
        
        card клас для контейнера, який надає рамку для карточки
        
        card-img-top відповідає за оформлення верхньої частини картинки
        
        card-body відповідає за відображення тіла карти
        
        card-title відповідає за відображення заголовка (title) картки
    </pre>

    Сервіс для генерації тестових картинок

    <pre>
    https://picsum.photos/{WIDTH}/{HEIGHT}
    
    https://picsum.photos/200/100
    </pre>

    </p>

    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo" />
        <div class="card-body">
            <h5 class="card-title">Product #15325</h5>
            <p>Ноутбук Lenovo Legion 5 15ACH6</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>List</mark></div>

    <p>

        List - це компонент, який створює список

    <pre>
An item
A second item
A third item

        class Опис
        
        list-group вказує на клас для створення списку
        
        list-group-flush видаляє відступи між елементами списку та фону
        
        list-group-item вказує на клас для створення елемента списку
    </pre>

    </p>

    <ul class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item">Item 3.1</li>
                <li class="list-group-item">Item 3.2</li>
            </ul>
        </li>
    </ul>

    <br />

    <p>
        Приклад використання:
    </p>

    <h5>Menu</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Home page</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Summary page</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Skills page</a>
        </li>
    </ul>

    <br />

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-link" href="#">Home page</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-link" href="#">Summary page</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-link" href="#">Skills page</a>
                </li>
            </ul>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Home page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Summary page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Skills page</a>
            </li>
        </ul>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Card Header та Card Footer</mark></div>

    <p>

    <pre>
    class Опис
    
    card-header клас для створення заголовка картки
    
    card-footer клас для створення футера картки
    </pre>

    </p>

    <div class="card">
        <div class="card-header">
            <div class="display-6">Menu</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Home page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Summary page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Skills page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Tables</mark></div>

    <p>

        Tables - це компонент, який створює таблиці

    <pre>
    class опис
    
    table клас для контейнера таблиці
    
    table-striped додає смугастий стиль до таблиці
    
    table-bordered додає рамку до таблиці та її елементів
    </pre>

    </p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
        </tbody>
    </table>

    <hr />
    <hr />

    <div class="display-1"><mark>Background color</mark></div>

    <p>

        Background color - це додатковий class name, який дає можливість зафарбувати фон компонента

    <pre>
    class Опис
    
    text-bg-primary визначає основний колір
    
    text-bg-secondary визначає додатковий колір
    
    text-bg-success визначає зелений (успішний) колір
    
    text-bg-danger визначає червоний (небезпечний) колір
    
    text-bg-warning визначає жовтий (попереджувальний) колір
    
    text-bg-info визначає блакитний (інформаційний) колір
    
    text-bg-light визначає світлий колір
    
    text-bg-dark визначає темний колір
    </pre>

    </p>

    <p class="text-bg-primary">text-bg-primary</p>
    <p class="text-bg-secondary">text-bg-secondary</p>
    <p class="text-bg-success">text-bg-success</p>
    <p class="text-bg-danger">text-bg-danger</p>
    <p class="text-bg-warning">text-bg-warning</p>
    <p class="text-bg-info">text-bg-info</p>
    <p class="text-bg-light">text-bg-light</p>
    <p class="text-bg-dark">text-bg-dark</p>

    <br />

    <p>
        Приклад використання:
    </p>

    <div class="card">
        <div class="card-body">
            <div class="card-title">Title</div>
            This is content of our box
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">Title</div>
        <div class="card-body">This is content of our box</div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">This is title</h6>
            <div>
                This is content of our box
            </div>
        </div>
    </div>

    <br />

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>
                This is content of our box
            </p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Сітка</mark></div>

    <p>

        Сітка - це підхід до верстки інтерфейсів, в якому ми розділяємо наш контент на 12 колонок

    <pre>
    class Опис
    
    row визначає рядок стовпців у сітковій системі
    
    col-*
    
    визначає ширину стовпців у системі сітки
    
    замініть * на число від 1 до 12, щоб визначити
    скільки стовпців має охоплювати ваш елемент.
    </pre>

    </p>

    <div class="row">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-5">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Розрив колонок</mark></div>

    <p>

    <pre>
    class Опис
    
    g-*
    
    визначає вертикальний та горизонтальний розрив
    
    замініть * на число від 1 до 5, щоб визначити
    на скільки великими мають бути відступи
    
    gy-* визначає вертикальний розрив
    
    gx-* визначає горизонтальний розрив
    </pre>

    </p>

    <div class="row g-1">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>

    <br />

    <div class="row gx-5 gy-1">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>
                        This is content of our box
                    </p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Nav</mark></div>

    <p>

        Nav - це компонент, який створює навігаційне меню

    <pre>
    class Опис
    
    nav клас для контейнера
    
    nav-item клас для елемента
    
    nav-link клас для посилання всередині елемента
    
    active клас для активного посилання
    
    disabled клас для неактивного посилання
    
    flex-column клас для контейнера,
    
    щоб вивести елементи вертикально
    
    nav-tabs клас для контейнера, щоб вивести
    меню навігації в форматі вкладок
    </pre>

    </p>

    <div class="card">
        <div class="nav">
            <div class="nav-item">
                <a href="#" class="nav-link">Home page</a>
            </div>
            <div class="nav-item">
                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                <a href="#" class="nav-link disabled">Bootstrap</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Catalog</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">FAQ page</a>
                {{!-- <button class="btn btn-primary">Click!</button> --}}
            </div>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="nav flex-column">
            <div class="nav-item">
                <a href="#" class="nav-link">Home page</a>
            </div>
            <div class="nav-item">
                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                <a href="#" class="nav-link disabled">Bootstrap</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Catalog</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">FAQ page</a>
                {{!-- <button class="btn btn-primary">Click!</button> --}}
            </div>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="nav flex-column">
                <div class="nav-item">
                    <div class="card">
                        <a href="#" class="nav-link">Home page</a>
                    </div>
                </div>
                <br />
                <div class="nav-item">
                    <div class="card">
                        {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                        <a href="#" class="nav-link disabled">Bootstrap</a>
                    </div>
                </div>
                <br />
                <div class="nav-item">
                    <div class="card">
                        <a href="#" class="nav-link">Catalog</a>
                    </div>
                </div>
                <br />
                <div class="nav-item">
                    <div class="card">
                        <a href="#" class="nav-link">FAQ page</a>
                    </div>
                    {{!-- <button class="btn btn-primary">Click!</button> --}}
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">FAQ page</a>
                            </div>
                            {{!-- <button class="btn btn-primary">Click!</button> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-4">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">FAQ page</a>
                            </div>
                            {{!-- <button class="btn btn-primary">Click!</button> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                Test
            </div>
        </div>
    </div>

    <br />

    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">FAQ page</a>
                            </div>
                            {{!-- <button class="btn btn-primary">Click!</button> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                Test
            </div>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Breadcrumb</mark></div>

    <p>

        Breadcrumb (“хлібні крихти”) - це навігаційний компонент,
        який відображає ієрархію сторінок на сайті та дозволяє
        користувачеві легко повернутись до попередніх сторінок.

    <pre>
    class Опис
    
    breadcrumb клас для контейнера
    
    breadcrumb-item клас для елемента
    </pre>

    </p>

    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">PC та Ноутбук</a>
            </li>
            <li class="breadcrumb-item">
                {{!-- <a href="#">MacBook</a> --}}
                MacBook
            </li>
        </ol>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Badge</mark></div>

    <p>

        Badge - це компонент, який вказує значок з контентом

    <pre>
    class Опис
    
    badge клас для контейнера
    
    rounded-pill робить заокруглення країв компонента
    </pre>

    </p>

    <div class="display-1"><mark>Background color</mark></div>

    <p>

    <pre>
        class Опис
        
        text-bg-primary визначає основний колір
        
        text-bg-secondary визначає додатковий колір
        
        text-bg-success визначає зелений (успішний) колір
        
        text-bg-danger визначає червоний (небезпечний) колір
        
        text-bg-warning визначає жовтий (попереджувальний) колір
        
        text-bg-info визначає блакитний (інформаційний) колір
        
        text-bg-light визначає світлий колір
        
        text-bg-dark визначає темний колір
        </pre>

    </p>

    <div>
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PC та Ноутбук</a>
                    </li>
                    <li class="breadcrumb-item">
                        {{!-- <a href="#">MacBook</a> --}}
                        MacBook
                    </li>
                </ol>
            </div>
            <div class="col-12">
                <h6>Hello world! <span class="badge text-bg-primary">NEW</span></h6>
            </div>
        </div>
    </div>

    <br />

    <h6>Hello world! <span class="badge text-bg-primary rounded-pill">NEW</span></h6>

    <button class="btn btn-primary">Click me!</button>

    <button class="btn btn-primary rounded-pill">Click me!</button>

    <hr />
    <hr />

    <div class="display-1"><mark>Alert</mark></div>

    <p>

        Alert - це компонент, який відображає повідомлення

    <pre>
    class Опис
    
    alert визначає контейнер для компонента
    
    alert-primary визначає основний колір
    
    alert-secondary визначає додатковий колір
    
    alert-success визначає зелений (успішний) колір
    
    alert-danger визначає червоний (небезпечний) колір
    
    alert-warning визначає жовтий (попереджувальний) колір
    
    alert-info визначає блакитний (інформаційний) колір
    
    alert-light визначає світлий колір
    
    alert-dark визначає темний колір
    </pre>

    </p>

    <div class="row gx-2 gy-4">
        <div class="col-12">
            <h6>Hello world! <span class="badge text-bg-primary rounded-pill text-uppercase text-bg-primary">NEW</span>
            </h6>
            <button class="btn btn-primary rounded-pill">Click me!</button>
            <div class="text-bg-primary">
                <div class="alert alert-secondary">This is important info!</div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            {{!-- <div class="text-bg-primary"> --}}
                <div class="alert alert-dark">
                    <h6>Hello world! <span class="badge rounded-pill  text-uppercase text-bg-primary">NEW</span></h6>
                    <button class="btn btn-primary rounded-pill">Click me!</button>
                </div>
                {{!--
            </div> --}}
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Зовнішні відступи</mark></div>

    <p>

    <pre>
    class Опис
    
    m-* визначає зовнішні відступи для всіх сторін
    
    mt-* визначає зовнішні відступи для верхньої сторони
    
    mb-* визначає зовнішні відступи для нижньої сторони
    
    my-* визначає вертикальні зовнішні відступи
    
    ms-* визначає зовнішні відступи для лівої сторони
    
    me-* визначає зовнішні відступи для правої сторони
    
    mx-* визначає горизонтальні зовнішні відступи
    
    замініть * на число від 1 до 5, щоб визначити
    на скільки великими мають бути відступи
    </pre>

    </p>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary rounded-pill m-5 ms-0 me-0">Click me!</button>
            <div class="alert alert-light">
                <h6>Hello world! <span class="badge rounded-pill text-uppercase text-bg-primary">NEW</span></h6>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary rounded-pill mb-3">Click me!</button>
            <div class="alert alert-light">
                <h6>Hello world! <span class="badge rounded-pill text-uppercase text-bg-primary">NEW</span></h6>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item mb-2">
                            <div class="card">
                                {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <br />
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">FAQ page</a>
                            </div>
                            {{!-- <button class="btn btn-primary">Click!</button> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                Test
            </div>
        </div>
    </div>

    <hr />
    <hr />

    <div class="display-1"><mark>Внутрішні відступи</mark></div>

    <p>

    <pre>
    class Опис
    
    p-* визначає внутрішні відступи для всіх сторін
    
    pt-* визначає внутрішні відступи для верхньої сторони
    
    pb-* визначає внутрішні відступи для нижньої сторони
    
    py-* визначає вертикальні внутрішні відступи
    
    ps-* визначає внутрішні відступи для лівої сторони
    
    pe-* визначає внутрішні відступи для правої сторони
    
    px-* визначає горизонтальні внутрішні відступи
    
    замініть * на число від 1 до 5, щоб визначити
    на скільки великими мають бути відступи
    </pre>

    </p>

    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                {{!-- <div class="card-body"> --}}
                    <div class="pt-4 pb-3 px-4">
                        <div class="nav flex-column">
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">Home page</a>
                                </div>
                            </div>
                            <br />
                            <div class="nav-item mb-2">
                                <div class="card">
                                    {{!-- <a href="#" class="nav-link active">Bootstrap</a> --}}
                                    <a href="#" class="nav-link disabled">Bootstrap</a>
                                </div>
                            </div>
                            <br />
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">FAQ page</a>
                                </div>
                                {{!-- <button class="btn btn-primary">Click!</button> --}}
                            </div>
                        </div>
                    </div>
                    {{!--
                </div> --}}
            </div>
            <div class="col-8">
                Test
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary rounded-pill mb-3">Click me!</button>
            <div class="alert alert-light">
                {{!-- <h6 class="m-0">Hello world! <span
                        class="badge rounded-pill text-uppercase text-bg-primary">NEW</span>
                </h6> --}}
                <h6 class="mb-2">Hello world! <span class="badge rounded-pill text-uppercase text-bg-primary">NEW</span>
                </h6>
                <p class="m-0">This is info</p>
            </div>
        </div>
    </div>














</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/bootstrap.hbs
Адже наш layout/bootstrap.hbs має вже структуру HTML
--}}