{{!--
Це код container файлу для font сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/font"
--}}

<main class="p-5">

	<hr />
	<hr />

	<div class="display-1"><mark>Відображення шрифту</mark></div>

	<p>

	<pre>

	Що таке шрифт?
	
	Шрифт (font) — це графічний малюнок накреслень літер і
	знаків, які мають спільні характеристики (стиль, розмір,
	відступ між буквами, рядками тощо)
	
	У розробці шрифт — це набір файлів, які ми підключаємо до
	коду, їх завантажує браузер та відображає в потрібному місці
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Google Fonts
	
	Google Fonts — це сервіс, який дає можливість легко
	підключити один з популярних шрифтів у ваш проєкт

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Як підключити?
	
	Для того, щоб підключити сервіс, вам потрібно перейти
	на сайт сервісу, обрати шрифт онлайн та підключити в код

	https://fonts.google.com/

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Сімейство шрифту
	
	font-family — це CSS властивість, яка визначає шрифт
	або набір шрифтів, які будуть використовуватись
	для відображення тексту на сторінці.
	
	body {
	font-family: Arial, sans-serif;
	}
		
	font-family

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Сімейство шрифту
	
	Значення Опис
	
	serif Вказує на шрифти з засічками, які використовуються
	
	для друкованих матеріалів або документів
	
	sans-serif Вказує на шрифти без засічок,
	
	використовуються для екранного відображення
	
	monospace Вказує на шрифти, в яких кожен символ має однакову
	ширину. Використовуються для відображення коду
	
	cursive Вказує на шрифти, що імітують почерк або каліграфію
	
	fantasy Вказує на фантазійні шрифти, які можуть мати

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір шрифту
	
	font-size — це властивість CSS, яка визначає розмір шрифту
	
	p {
	font-size: 16px;
	}
		
	font-size

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір шрифту
	
	Значення Опис
	
	xx-small Встановлює дуже дрібний розмір шрифту
	
	small Встановлює малий розмір шрифту
	
	medium Встановлює середній розмір шрифту,
	
	відповідає розміру шрифту за замовчуванням.
	
	large Встановлює великий розмір шрифту
	
	x-large Встановлює дуже великий розмір шрифту
	
	xx-large Встановлює супер великий розмір шрифту

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розмір шрифту
	
	Значення Опис
	
	smaller Зменшує розмір шрифту на один рівень відносно
	
	розміру батьківського елемента.
	
	larger Збільшує розмір шрифту на один рівень відносно
	
	розміру батьківського елемента.
	
	Відносні значення
	
	Це значення вказує розмір шрифту відносно розміру
	шрифту батьківського елемента або кореневого
	елемента документа.
	
	Такі значення використовуються для створення
	резинових та адаптивних дизайнів.
	
	Абсолютні значення Розмір шрифту у конкретних одиницях виміру

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Товщина шрифту
	
	font-weight — це властивість CSS, яка визначає товщину
	шрифту елемента
	
	p {
	font-weight: bold;
	}
		
	font-weight

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Товщина шрифту
	
	Значення Опис
	
	normal
	
	400
	
	Встановлює нормальну товщину шрифту
	Значення за замовчуванням.
	
	bold
	
	700
	
	Встановлює жирну товщину шрифту
	
	bolder Встановлює товщину шрифту жирнішу
	
	відносно наявного значення.
	
	lighter Встановлює товщину шрифту менш жирну
	
	відносно наявного значення.
	
	числове значення
	від 100 до 900
	
	Встановлює числове значення відповідної товщини

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Стиль шрифту
	
	font-style — це властивість CSS, яка визначає стиль шрифту
	елемента, такого як курсив або звичайний стиль
	
	h1 {
	font-style: italic;
	}
		
	font-style
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Стиль шрифту
	
	Значення Опис
	
	normal Встановлює звичайний стиль шрифту
	
	Значення за замовчуванням
	
	italic Встановлює курсивний стиль шрифту
	
	oblique Встановлює нахилений стиль шрифту,
	
	є лише нахиленою версією звичайного шрифт

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Прогрузка шрифту
	
	font-display — це CSS властивість, яка каже браузер як
	поводитись коли шрифт завантажується з сервера.
	
	h1 {
	font-display: swap
	}
		
	font-display
    Довжина Приймає значення в будь-якій одиниці виміру
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Прогрузка шрифту
	
	Значення Опис
	
	auto За замовчуванням браузер використовує свою стратегію
	
	block Вказує ненадовго приховати текст,
	
	доки шрифт не буде повністю завантажено
	
	swap Браузер повинен замінити на більш схожий шрифт до того
	
	моменту, поки заданий шрифт не буде завантажений.
	
	fallback
	
	Браузер приховає текст приблизно на 100 мс і, якщо шрифт
	ще не завантажено, використає резервний шрифт,
	а якщо завантажився, то він зміниться протягом 3 с
	
	optional
	
	Браузер може відкласти завантаження шрифту до того
	моменту, поки сторінка не буде повністю завантажена,
	не застосовуючи заміну жодного шрифту
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Прогрузка шрифту
	
	Період блоку Період зміни
	
	block Короткий Нескінченний
	
	swap Немає Нескінченний
	
	fallback Надзвичайно короткий Короткий
	
	optional Надзвичайно короткий Немає
        
    </pre>

	</p>


	<hr />
	<hr />

	<div class="card p-5 m-5 card1">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card2">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card3">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card4">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card5">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card6">
		<p>Hello world!</p>
		<span class="text1">span</span>
	</div>

	<div class="card p-5 m-5 card7">
		<p>Hello world!</p>
		<span class="text2">span</span>
	</div>

	<div class="card p-5 m-5 card8">
		<p>Hello world!</p>
	</div>

	<div class="card p-5 m-5 card9">
		<p>Hello world!</p>
	</div>

	{{!--
	Цей код містить лише те, що буде виводитись в {{{body}}} в layout/font.hbs
	Адже наш layout/font.hbs має вже структуру HTML
	--}}