{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div>

    <div class="card mb-5 p-3">
        <div class="row">
            <div class="col-6">
                <h5>Tetiana Zinchenko</h5>
            </div>
            <div class="col-6 text-end">
                <h5>Resume project</h5>
            </div>
        </div>
    </div>

    <div>
        <h3 class="text-primary">List of pages</h3>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque repellat, officia corrupti est amet
            architecto a quaerat ratione eius quisquam, dolores quidem. Tempora sunt error quod doloribus harum debitis
            quidem?
        </p>

        <div class="card p-5">
            <div class="row g-2">

                <div class="col-3">
                    <div>
                        {{> linkDefault text="summary" href="/summary" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="education" href="/education" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="skills" href="/skills" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="work" href="/work" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                </div>

                <div class="col-6 row">
                    <div class="col-6">
                        <div>
                            {{> linkDefault text="person" href="/person" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="bio" href="/bio" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="program" href="/program" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="web" href="/web" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="js" href="/js" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="car" href="/car" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            {{> linkDefault text="mac" href="/mac" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="facebook" href="/facebook" class="btn btn-primary text-uppercase
                            mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="task21" href="/task21" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="task22" href="/task22" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                        <div>
                            {{> linkDefault text="task31" href="/task31" class="btn btn-primary text-uppercase mb-2"}}
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div>
                        {{> linkDefault text="shophome" href="/shophome" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="shoporder" href="/shoporder" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="shopcart" href="/shopcart" class="btn btn-primary text-uppercase mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="shopprofile" href="/shopprofile" class="btn btn-primary text-uppercase
                        mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="shopreview" href="/shopreview" class="btn btn-primary text-uppercase
                        mb-2"}}
                    </div>
                    <div>
                        {{> linkDefault text="shopcatalog" href="/shopcatalog" class="btn btn-primary text-uppercase
                        mb-2"}}
                    </div>
                </div>

            </div>
        </div>

    </div>








</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}