{{!--
Це код container файлу для selector1 сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/selector1"
--}}

<main>

    <hr />
    <hr />

    <div class="display-1"><mark>Селектори. 1 частина</mark></div>

    <p>

    <pre>

Глобальний селектор

Глобальний селектор — це селектор, який вибирає всі теги
на сторінці.

* {
color: red;
}

Він може бути використаний для стилізації всього вмісту
сторінки або для задання однакових стилів для всіх
елементів на сторінці.

Використання універсального селектора може навантажувати
сторінку, адже він надає стилі для всіх тегів одночасно

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Root селектор

Root селектор — це селектор, який вибирає абстрактний
кореневий тег, в якому знаходиться вже інший HTML код

:root {
background: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Cелектор тегу

Селектор тегу — це селектор, який надає стилі для певного тегу,
який використовується у будь-якому місці HTML документа

Якщо вказаний тег в HTML документі дублюється, то стилі
будуть надані для всіх тегів, які відповідають селектору

h1 {
background: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Cелектор класу

Селектор класу — це селектор, який надає стилі для всіх тегів,
які мають певний клас, який був вказаний у селекторі

Селектор класу починається з крапки (".") і за ним слідує ім'я

В HTML для встановлення класу потрібно вказати атрибут class

.<class_name> {
    background: red;
    }

.box {
    background: red;
    }

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Селектор
ідентифікатора

Селектор ідентифікатора — це селектор, який надає стилі для
всіх тегів, які мають певний ідентифікатор, який був вказаний у
селекторі

Селектор класу починається з решітки ("#") і за ним слідує ім'я

В HTML для встановлення ідентифікатора потрібно вказати
атрибут id

#<id_name> {
    background: red;
    }

#user {
    background: red;
    }

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Використання
декількох селекторів

У CSS є можливість використовувати декілька селекторів, до
яких треба надати певний набір CSS властивостей

Для цього слід вказати селектори через кому (“,”)

h1, .box, #user {
background: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Дочірній cелектор

Дочірній селектор — це селектор, який надає стилі для всіх
тегів, які є дочірніми тегами головного тегу

Для цього слід вказати знак більше (“>”), щоб показати
відношення між батьківським та дочірнім тегом

parent > children {
color: red;
}

section > h1 {
color: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Селектор нащадка

Селектор нащадка — це селектор, який надає стилі для всіх
тегів, які є нащадками головного тегу

Для цього вкажіть у селекторі через пробіл розташування тегу,
або ви можете вказати два рази знак більше (“>>”)

section .box span {
color: red;
}

section >> .box >> span {
color: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Сестринський
селектор

Сестринський селектор — це селектор, який надає стилі
для сестринського тегу, який йде одразу після основного тегу

Для цього слід вказати плюс (“+”), щоб показати
відношення між основним тегом та сестринським тегом

h1 + p {
color: red;
}

    </pre>

    </p>

    <hr />
    <hr />

    <p>

    <pre>

Сусідський селектор

Сусідський селектор — це селектор, який надає стилі
для всіх сусідніх тегів, які йдуть після основного тегу

Для цього слід вказати тильду (“~”), щоб показати
відношення між основним тегом та сусідніми тегами

h1 ~ p {
color: red;
}

    </pre>

    </p>

    <style>
        h1 {
            color: purple;
        }
    </style>

    <div class="box">

        <h1>This is title H1</h1>

        <p class="info">This is paragraph</p>

        <button class="btn button" type="button">This is button</button>

        <h2 style="color: red;">This is title H2</h2>
        <h2>This is title H2</h2>
        <h3 id="user">This is title H3</h3>
        <h3>This is title H3</h3>

    </div>

    <section>

        <h3>This is title H3</h3>

        <p class="info">This is paragraph</p>

        <button class="btn button" type="button">This is button</button>

        <h2 style="color: red;">This is title H2</h2>
        <h2>This is title H2</h2>
        <h3 id="user">This is title H3</h3>
        <h3>This is title H3</h3>

    </section>

    <footer id="boxs">

        <h1>This is title H1</h1>
        <p>This is P - сестринський тег для тега H1</p>

        <p class="info"><em class="child">This is EM</em></p>

        <button class="btn button" type="button">This is button</button>

        <h2 style="color: red;">This is title H2</h2>
        <h2>This is title H2</h2>
        <h3 id="user">This is title H3</h3>
        <h3>This is title H3</h3>

        <div>
            <div>
                <div>
                    <h1>This is title H1</h1>
                    <div class="test">This is DIV - сестринський тег для тега H1</div>
                    <p class="child">Test EM</p>
                </div>
            </div>
        </div>

        <section>
            <h1>This is title H1</h1>
            <div class="test">This is DIV - сестринський тег для тега H1</div>
            <em>Some text</em>
            <p class="child">Test EM</p>

            <div>
                <p>Test</p>
            </div>

            <section>
                <p>Test</p>
            </section>
        </section>

        <div class="child">Test</div>

    </footer>










</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/selector1.hbs
Адже наш layout/selector1.hbs має вже структуру HTML
--}}