<div>

    {{#with subscribe}}

    <div class="text-bg-dark p-2">

        <h2>{{header}}</h2>

        <p>{{description}}</p>

        {{#each buttons}}

        <div>

            <button class="btn btn-primary m-2" link="{{link}}">{{text}}</button>

        </div>

        {{/each}}

    </div>

    {{/with}}

</div>